body{
    display:flex;
    flex-direction:row;
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main, aside{
    background-color: white;
    height: fit-content;
}

#title {
    display:flex;
    flex-direction: row;
}
#today {
    padding-left: .5em;
    outline: 2px solid black;
}

#fc-section {
    display:flex;
    flex-direction: row;
}

.fc-card{
    background-color: rgba(135, 135, 135, 0.609);
    margin: .5em;
    padding: .5em;
    outline: 2px solid black;
    border-radius: 25px;

}
#history {
    display:flex;
    flex-direction: column;
}